/*html, body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

.container-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

app-quadro {
    margin-right: 20px;
    border-radius: 20px;
    background-color: #b7b3c1;
    flex-grow: 8;
    flex-basis: 80%;
    margin-bottom: 20px;
}

app-menu-lateral {
    flex-grow: 1;
    flex-basis: 20%;
}
