<!--  Listar e remover  -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Concluída</th>
        <th scope="col">Remover</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of tarefas; index as i" [class.table-success]="t.concluida">
        <td>{{ t.titulo }}</td>
        <td>{{ t.descricao }}</td>
        <td><input type="checkbox" [checked]="t.concluida" (change)="marcarConcluido(i)"/></td>
        <td><button class="btn btn-danger btn-sm" (click)="remover(t.id!, i)">Apagar</button></td>
    </tr>
    </tbody>
</table>
