<!-- Considere colocar uma sidenav, é mais elegante -->

<mat-list role="list">
  <p>Área de Trabalho</p>
  <mat-list-item class="menu-item" role="listitem"> <mat-icon>add_circle</mat-icon>Adicionar</mat-list-item>
  <mat-list-item class="menu-item" role="listitem"><mat-icon>settings</mat-icon>Configuração</mat-list-item>
  <mat-list-item class="menu-item" role="listitem"><mat-icon>bar_chart</mat-icon>Progresso</mat-list-item>
  <mat-list-item class="menu-item" role="listitem"><mat-icon>calendar_month</mat-icon>Cronograma</mat-list-item>
  <mat-list-item class="menu-item" role="listitem"><mat-icon>share</mat-icon>Compartilhar</mat-list-item>
  <mat-list-item class="menu-item menu-last-item" role="listitem"><mat-icon>info</mat-icon>Ajuda</mat-list-item>
</mat-list>

<!-- Lembrar de configurar o roteamento -->
