<!-- Considere colocar uma sidenav, é mais elegante -->

<div class="menu-lateral-container">
    <span class="menu-lateral_titulo">Funcionalidades</span>
    <mat-list class="menu-lateral_botoes" role="list">
        <div class="botao-configuracao">
            <mat-list-item class="menu-item" role="listitem">
                <button mat-button><mat-icon>settings</mat-icon>Configuração</button>
<!--                <span><mat-icon>settings</mat-icon>Configuração</span>-->
            </mat-list-item>
        </div>
        <div class="botao-progresso">
            <mat-list-item class="menu-item" role="listitem">
                <button mat-button><mat-icon>bar_chart</mat-icon>Progresso</button>
<!--                <span><mat-icon>bar_chart</mat-icon>Progresso</span>-->
            </mat-list-item>
        </div>
        <div class="botao-cronograma">
            <mat-list-item class="menu-item" role="listitem">
                <button mat-button><mat-icon>calendar_month</mat-icon>Cronograma</button>
<!--                <span><mat-icon>calendar_month</mat-icon>Cronograma</span>-->
            </mat-list-item>
        </div>
        <div class="botao-compartilhar">
            <mat-list-item class="menu-item" role="listitem">
                <button mat-button><mat-icon>share</mat-icon>Compartilhar</button>
<!--                <span><mat-icon>share</mat-icon>Compartilhar</span>-->
            </mat-list-item>
        </div>
        <div class="botao-ajuda">
            <mat-list-item class="menu-item" role="listitem">
                <button mat-button><mat-icon>info</mat-icon>Ajuda</button>
<!--                <span><mat-icon>info</mat-icon>Ajuda</span>-->
            </mat-list-item>
        </div>
    </mat-list>
</div>
