<div class="login-form-flex">
    <mat-card>
        <mat-card-title>Faça seu login</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Nome do usuário">
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input type="password" matInput placeholder="Senha"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-row">
                <button class="botao-login" mat-stroked-button>Entrar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
