mat-list {
  background-color: #a08ec8;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 30%; /* Acho que dá pra melhorar isso */
}

.menu-item {
  color: black;
}

.menu-item:hover {
  background-color: #848095;
}

.menu-last-item {
  /* Para setar este botão no final da página */
}

/* Depois a gente dá uma olhada em como deixar os ícones e os textos alinhados */
