.barra-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

    background-color: #a08ec8;

    /*border: 1px solid gray; !* Coloquei isso aqui só pra ter noção dos limites do componente *!*/
}

.botao-menu {
    border-radius: 50px;
    margin-left: 10px;
    border: 1px solid black;
}

.botao-menu:hover {
    background-color: black;
    color: white;
}

.barra-pesquisa_foto-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campo-pesquisa {
    flex-grow: 1;
    align-self: center;
}

.icone-pesquisa {;
    padding-left: 20px;
}

.foto-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}
