<div class="container">
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Título</label>
            <input type="text" class="form-control" id="task" placeholder="Digite o título da tarefa" ngModel name="task" required/>
        </div>
        <div class="form-group mt-2">
            <label for="description">Descrição</label>
            <textarea class="form-control" id="description" placeholder="Digite a descrição da tarefa" ngModel name="description"></textarea>
        </div>
        <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">O título é obrigatório.</small>
        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-dark mt-2">Inserir</button>
    </form>

    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Concluída</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i" [class.table-success]="t.concluida">
                <td>{{ t.titulo }}</td>
                <td>{{ t.descricao }}</td>
                <td><input type="checkbox" [checked]="t.concluida" (change)="onCheck(i)"/></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Apagar</button></td>
            </tr>
        </tbody>
    </table>
</div>
